/* src/pages/Footer.css */
.footer {
  margin: 20px;
  padding: 20px;
  background-color: rgba(173, 216, 230, 0.5); /* Lighter transparent blue color */
  border-radius: 8px;
  text-align: left; /* Left-align the text */
}

.footer h2,
.footer p {
  font-weight: bold; /* Make all text bold */
}
