.App {
  text-align: center;
  background-image: url('/public/images/001.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

header h1 {
  font-size: 2em;
  color: #1f4e79;
  padding: 20px;
}

.App {
  text-align: center;
}

.table-container {
  margin: 20px auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}
